body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: white;
}
#login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gameCanvas {
  display: none;
  background: #111;
}
#chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
}
#messages {
  height: 100px;
  overflow-y: auto;
  background: rgba(0,0,0,0.5);
  padding: 5px;
}
#chatInput {
  width: 100%;
  padding: 5px;
}
